@import '../styles/variables';
@import '../styles/functions';

.bt-footer {
    color: bt-colours('light');
    background-color: bt-colours('primary');
    text-align: left;
    line-height: 50px;
}

@media screen and (max-width: 768px) {

    .bt-footer {
        line-height: 2;
        padding: 20px 0;
        text-align: center;
    }
    
}

