@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/functions';

.bt-shop-gallery {
    display: flex;
    // min-height: calc(100vh - 130px);

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 20px 0;
    }
}

// .bt-shop-gallery-container {
    
// }